<app-admin-menu></app-admin-menu>


<div class="container card-group ">
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="mx-auto" style="width: 200px;">
      --
  </div>

  <div class="container card-group ">
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <div class="icon">
            <i class="flaticon-mask"></i>
        </div>
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>