<header class="header-area">
    <!-- Start Navbar Area -->
    <nav class="navbar onepage-navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/home-six"><img src="assets/img/logo.png" alt="logo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a routerLink="#" class="nav-link" id="configMenuLink">Configuration</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a routerLink="/" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Blood Bank
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">View</a>
                            <a class="dropdown-item" href="#">Insert</a>
                            <a class="dropdown-item" href="#">Update</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#symptoms" class="nav-link">Settings</a></li>
                    <li class="nav-item"><a href="#prevention" class="nav-link">Blood Upload</a></li>

                    <li class="nav-item"><a href="#doctors" class="nav-link">Blood Bank Manager</a></li>
                    <li class="nav-item"><a href="#blog" class="nav-link">Report</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">FAQ</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar Area -->

</header>