<header class="header-area">

    <!-- Top Header -->
    <!-- <app-admin-top-bar *ngIf='(location == "/admin")'></app-admin-top-bar> -->
    <app-top-bar></app-top-bar>
    <!-- End Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="qovid-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/">
                        <img src="assets/img/logo.png" alt="Bload Link Logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>            

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a routerLink="/" class="nav-link">Home</a>
                            
                            <li class="nav-item"><a routerLink="/bloodbanks" class="nav-link">Blood Banks</a></li>
                             
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/live-tracker" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Covid-19 Tracker</a></li>
                            
                            <!-- <li class="nav-item"><a routerLink="/blog-one" class="nav-link">Blog</a></li> -->
                            
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact Us</a></li>
                            
                            <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
                        </ul>

                        <div class="others-option d-flex align-items-center">
                            <!-- <div class="option-item">
                                <div class="cart-btn">
                                    <a routerLink="/cart"><i class='bx bx-shopping-bag'></i><span>0</span></a>
                                </div>
                            </div>

                            <div class="option-item">
                                <div class="search-btn-box">
                                    <i class="search-btn bx bx-search-alt"></i>
                                </div>
                            </div> -->

                            <div class="option-item">
                                <a routerLink="/appointment" class="default-btn"><i class="flaticon-doctor"></i> Donate Blood</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    
</header>